<!Doctype html>
<html ng-app="dashboard">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/dashboard.css" rel="stylesheet" />
    <script src="js/libraries/jquery/dist/jquery.js"></script>
</head>

<body ng-controller="tabCtrl">
    <div id='wrapper' ng-class='{toggled: dashboardHidden == true}'>
        <button ng-click='toggleDashboard()' class='btn' ng-class='{"btn-success" : dashboardHidden == true, "btn-danger" : dashboardHidden == false}' id='toggle-dashboard'>{{dashboardButton}}</button>
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li ng-click='setActiveTab(0)' class="sidebar-brand">
                    <a href="#">
                        Dashboard 
                    </a>
                </li>
                <li ng-class='getTabClass(0)' ng-click='setActiveTab(0)'>
                    <a href="#">Stocks Data</a>
                </li>
                <li ng-class='getTabClass(1)' ng-click='setActiveTab(1)'>
                    <a href="#">Chat Room</a>
                </li>
            </ul>
        </div>
        <div ng-include src="currentTab.url" scope="" onload="" class='container'>
        </div>
    </div>
    <script src="js/libraries/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/libraries/angular/angular.js"></script>
    <script src="js/dashboard.js"></script>
</body>

</html>
